/* architects-daughter-regular - latin */
@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/architects-daughter-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'),
       url('../fonts/architects-daughter-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/architects-daughter-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/architects-daughter-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/architects-daughter-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/architects-daughter-v7-latin-regular.svg#ArchitectsDaughter') format('svg'); /* Legacy iOS */
}
